body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 20px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
