body {
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
h1 {
  color: black;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}

.credit {
  text-decoration: none;
  text-align: center;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background: linear-gradient(
    359.3deg,
    rgb(196, 214, 252) 1%,
    rgba(187, 187, 187, 0) 70.9%
  );
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 100px auto;
}
.overview {
  margin-bottom: 10px;
}
.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: black;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-min {
  opacity: 0.6;
}
.btn.btn-primary {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(50, 172, 109) 0%,
    rgb(209, 251, 155) 100.2%
  );
  border-color: white;
  color: black;
}
.btn.btn-secondary {
  color: black;
  padding: 10px;
  margin-top: 10px;
  font-size: 12px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(59, 149, 237) 0%,
    rgb(7, 91, 173) 90%
  );
  border-color: white;
}
.info {
  text-align: right;
}
